<div class="gh-flow">
    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content links-info-wrapper">
          <div><h2>List of links</h2></div>
          <div class="link-info-query">
            <div class="link-info-query-item">
              {{#power-select
                selected=selectedStatus
                options=availableStatuses
                searchEnabled=false
                tagName="div"
                onchange=(action "changeStatus")
                classNames="gh-contentfilter-menu gh-contentfilter-type"
                triggerClass="gh-contentfilter-menu-trigger"
                dropdownClass="gh-contentfilter-menu-dropdown"
                matchTriggerWidth=false
                data-test-type-select=true
                as |status|
              }}
                {{status.name}}
              {{/power-select}}
            </div>
            <div class="link-info-query-item">
              {{#power-select
                selected=selectedSite
                options=availableSites
                searchField="id"
                onchange=(action "changeSite")
                tagName="div"
                classNames="gh-contentfilter-menu gh-contentfilter-author"
                triggerClass="gh-contentfilter-menu-trigger"
                dropdownClass="gh-contentfilter-menu-dropdown"
                searchPlaceholder="Search Site"
                matchTriggerWidth=true
                data-test-crawlsite-select=true
                as |crawlsite|
              }}
                  {{crawlsite.name}}
              {{/power-select}}
            </div>
            <div class="link-info-query-item">
              {{#power-select
                selected=selectedPost
                options=availablePosts
                searchField="id"
                onchange=(action "changePost")
                tagName="div"
                classNames="gh-contentfilter-menu gh-contentfilter-author"
                triggerClass="gh-contentfilter-menu-trigger"
                dropdownClass="gh-contentfilter-menu-dropdown"
                searchPlaceholder="Search Post"
                matchTriggerWidth=true
                data-test-post-select=true
                as |post|
              }}
                  {{post.slug}}
              {{/power-select}}
            </div>
          </div>
          <div class="links-info-body">
            <div class="link-info-row link-header">
              <div class="link-info-row-item">ID</div>
              <div class="link-info-row-item">FROM</div>
              <div class="link-info-row-item">TO</div>
              <div class="link-info-row-item">RULES</div>
              <div class="link-info-row-item">STATUS</div>
              <div class="link-info-row-item">ACTION</div>
            </div>

            {{#each model as |link|}}
              <div class="link-info-row">
                <div class="link-info-row-item">{{link.id}}</div>
                <div class="link-info-row-item">{{input value=link.crawlsiteId}}</div>
                <div class="link-info-row-item">{{input value=link.postId}}</div>
                <div class="link-info-row-item">{{input value=link.queryRule}}</div>
                <div class="link-info-row-item">{{input value=link.status}}</div>
                <div class="link-info-row-item">
                  <button class="ibtn" {{action "updateLink" link}}>Update</button>
                </div>
              </div>
            {{/each}}

            <div class="link-info-row">
              <div class="link-info-row-item">{{newLinkItem.id}}</div>
              <div class="link-info-row-item">{{input value=newLinkItem.crawlsiteId}}</div>
              <div class="link-info-row-item">{{input value=newLinkItem.postId}}</div>
              <div class="link-info-row-item">{{input value=newLinkItem.queryRule}}</div>
              <div class="link-info-row-item">{{input value=newLinkItem.status}}</div>
              <div class="link-info-row-item">
                <button class="ibtn" {{action "addLinkItem" link}}>Add New</button>
              </div>
            </div>
          </div>
          {{infinity-loader infinityModel=model}}

        </section>
    </div>
</div>
