<div class="gh-flow">
    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content sites-info-wrapper">
          <div><h2>List of Sites</h2></div>

          <div class="site-info-row site-header">
            <div class="site-info-row-item">ID</div>
            <div class="site-info-row-item">URL</div>
            <div class="site-info-row-item">QUERY</div>
            <div class="site-info-row-item">SUB_QUERY</div>
            <div class="site-info-row-item">INTERVAL</div>
            <div class="site-info-row-item">STATUS</div>
            <div class="site-info-row-item">ACTION</div>
          </div>

          {{#each model as |site|}}
            <div class="site-info-row">
              <div class="site-info-row-item">{{site.id}}</div>
              <div class="site-info-row-item">{{input value=site.resUrl}}</div>
              <div class="site-info-row-item">{{input value=site.queryRule}}</div>
              <div class="site-info-row-item">{{input value=site.subQueryRule}}</div>
              <div class="site-info-row-item">{{input value=site.interval}}</div>
              <div class="site-info-row-item">{{input value=site.status}}</div>
              <div class="site-info-row-item">
                <button {{action "updateSite" site}}>Update</button>
              </div>
            </div>
          {{/each}}

          <div class="site-info-row">
              <div class="site-info-row-item">{{newSiteItem.id}}</div>
              <div class="site-info-row-item">{{input value=newSiteItem.resUrl}}</div>
              <div class="site-info-row-item">{{input value=newSiteItem.queryRule}}</div>
              <div class="site-info-row-item">{{input value=newSiteItem.subQueryRule}}</div>
              <div class="site-info-row-item">{{input value=newSiteItem.interval}}</div>
              <div class="site-info-row-item">{{input value=newSiteItem.status}}</div>
              <div class="site-info-row-item">
                <button {{action "addSiteItem" site}}>Add New</button>
              </div>
            </div>

          {{infinity-loader infinityModel=model}}

        </section>
    </div>
</div>
